/*
 * Base resource configuration for all profiles
 */

process {
    // Default resources
    cpus   = 4
    memory = 16.GB
    time   = 4.h

    withName: 'PREP_ISOFORMS' {
        cpus   = 4
        memory = 16.GB
        time   = 2.h
    }

    withName: 'FAIDX' {
        cpus   = 1
        memory = 4.GB
        time   = 1.h
    }

    withName: 'PROFILE' {
        cpus   = 4
        memory = 16.GB
        time   = 4.h
    }

    withName: 'MERGE' {
        cpus   = 4
        memory = 32.GB
        time   = 2.h
    }

    withName: 'CALL' {
        cpus   = 12
        memory = 64.GB
        time   = 12.h
    }
}
