/*
 * Docker profile configuration
 * For running on Mac (Apple Silicon) via Docker Desktop
 */

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

process {
    container = 'isocall-pipeline:latest'

    // Scale down resources for local Mac
    withName: 'PREP_ISOFORMS' {
        cpus   = 4
        memory = 8.GB
    }

    withName: 'FAIDX' {
        cpus   = 1
        memory = 4.GB
    }

    withName: 'PROFILE' {
        cpus   = 4
        memory = 8.GB
    }

    withName: 'MERGE' {
        cpus   = 4
        memory = 8.GB
    }

    withName: 'CALL' {
        cpus   = 4
        memory = 8.GB
    }
}
